@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-ui-color: #191212;
  --text-ui-hover-color: rgb(185, 29, 86);
  --text-ui-active-color: rgb(214, 30, 98);

  --button-ui-color: rgb(58, 58, 58);
  --button-ui-hover-color: rgb(185, 29, 86);
  --button-ui-active-color: rgb(214, 30, 98);
  --button-ui-text-color: rgb(255,255,255);

  --bg-ui-color: white;
  --color-primary: #747bff;
  --color-secondary: #ff7477;

}

body {
  color: var(--text-ui-color);
  background-color: var(--bg-ui-color);
}

a{
  -webkit-tap-highlight-color: transparent;
}

.cardStyle{
  @apply bg-white rounded-lg shadow-md p-4 mb-2 hover:shadow-lg hover:bg-gray-50;
}

.iconButtonll{
  color: var(--button-ui-color);
}

.iconButtonll:hover{
  color: var(--button-ui-hover-color);
}

.iconButtonll:active{
  transform: scale(0.90);
  transition: transform 80ms ease;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/