.SongCardCss{
    @apply flex justify-between p-4 mb-2
        bg-white rounded-lg shadow-md
        hover:shadow-lg hover:bg-gray-50
    ;

    &:active{
        transform: scale(0.98);
        transition: transform 80ms ease;
    }

    :global{
        .songNumber{
            color: var(--text-ui-active-color);
        }
    }
}