.SongCardCss{
    @apply flex flex-col p-4 mb-2
        rounded-lg
    ;

    background-color: var(--bg-ui-color-card);
    box-shadow: var(--card-shadow);
    transition: transform 80ms ease;

    &:hover{
        background-color: var(--bg-ui-color);
    }

    &:active{
        transform: scale(0.98);
    }

    :global{

        .songHeader{
            @apply flex justify-between;
        }

        .songNumber{
            color: var(--text-ui-active-color);
        }
    }
}