.SongBookCardCss{
    @apply flex justify-between
         rounded-lg 
        p-4 mb-2
    ;
    background-color: var(--bg-ui-color-card);
    box-shadow: var(--card-shadow);
    transition: transform 80ms ease;

    &:hover{
        background-color: var(--bg-ui-color);
    }

    &:active{
        transform: scale(0.98);
    }


    :global{
        .songBookName{
            
        }

    }
}