.HomePageCss{
    :global {
        
        .homeContainer {
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 86px;
        }

        .topHeader{
            @apply pt-4 pb-6 px-4;
            width: 100%;
            position: fixed;
            top: 0;
            background: var(--bg-ui-color);
            background: linear-gradient(180deg, var(--bg-ui-color) 80%, rgba(0,0,0,0) 100%);

            .libraryLabel {
                
                color: var(--text-ui-active-color);
            }
        }

        .songContainer{
            @apply grid grid-cols-1 gap-2 
                sm:grid-cols-2 sm:gap-3
                lg:grid-cols-3 lg:gap-4
                2xl:grid-cols-4 2xl:gap-6;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        .bibleVerseContainer{
            @apply text-white rounded-2xl 
                p-4
                md:p-6
                lg:p-10
                xl:p-14
                2xl:p-16
            ;
            /*
            background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
                */

            margin-bottom: 2rem;
        }


    }
}