.SongPagePresentationCss{
    :global{

        .topHeader{
            @apply pt-4 pb-8 px-4;
            width: 100%;
            position: fixed;
            top: 0;
            background: var(--bg-ui-color);
            background: linear-gradient(180deg, var(--bg-ui-color) 80%, rgba(0,0,0,0) 100%);

            .songName {
                
                color: var(--text-ui-active-color);
            }
        }

        .currentSlideContainer{
            @apply bg-slate-50 border border-slate-300 rounded-lg p-4;
                border-width: 2px;
        }

        .versesContainer{
            @apply m-4 grid grid-cols-4 gap-4;

            .slideContainer{
                @apply bg-slate-50 border border-slate-300 rounded-lg p-4
                cursor-pointer;

                border-width: 2px;

                background-color: var(--bg-ui-color-card);
                box-shadow: var(--card-shadow);
                transition: transform 80ms ease;
            
                &:hover{
                    background-color: var(--bg-ui-color);
                }
            
                &:active{
                    transform: scale(0.98);
                }
            }

            .activeSlide{
                border-color: var(--text-ui-active-color);
                border-width: 2px;
                color: var(--text-ui-active-color) !important;
            }

            .textLine{
                //text-align: center;
                color: var(--text-ui-color);
            }

        }
    }
}